#logo {
  margin-left: 0;
  margin-right: 750px;
}

#myblog:hover {
  background-color: aquamarine;

  color: black;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aquamarine;
  height: 45px;
  margin-top: 0%;
  float: right;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
}
.header {
  margin-top: 0px;
  height: 45px;

  background-color: aquamarine;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aquamarine;
  color: black;
  text-align: center;
}

.loginform {
  border: 2px solid black;
  border-radius: 2rem;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 80px;
  padding: 20px;
}

.myform {
  padding: 20px;
  margin-top: 10px;
}
table,
tr,
td {
  padding: 10px;
}
input {
  width: 200px;
  height: 20px;
}
input:focus {
  background-color: lightblue;
}
label:hover {
  color: blueviolet;
}

@media (max-width: 420px) {
  body {
    background-color: blue;
  }
  #logo {
    margin-left: 0;
    margin-right: 0px;
  }

  #myblog:hover {
    background-color: aquamarine;

    color: black;
    text-decoration: underline;
  }
  ul {
    background-color: aquamarine;
    width: 400px;
    margin: 0;
    padding: 0;
    margin-left: 0%;
    overflow: hidden;
  }
  li {
    float: left;
    margin-left: 0;
  }
  li a {
    display: block;
    padding: 8px;
    color: black;
    font-size: 12px;
  }

  li a:hover {
    background-color: black;
    color: white;
  }
}
