ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aquamarine;
}
li {
  float: left;
}
li a {
  display: block;
  padding: 15px;
  color: black;
}

li a:hover {
  background-color: black;
  color: white;
}

@media (max-width: 420px) {
  ul {
    background-color: aquamarine;
    width: 350px;
    margin: 0;
    padding: 0;
    margin-left: 0%;
    overflow: hidden;
  }
  li {
    float: left;
    margin-left: 0;
  }
  li a {
    display: block;
    padding: 8px;
    color: black;
    font-size: 12px;
  }

  li a:hover {
    background-color: black;
    color: white;
  }
}
